<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js"></h3>
  </div>
</div>
<div class="container py5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3>Welcome to Movie Watchlist</h3>
    <%= link_to "Create a New Movie List", new_list_path, class: 'btn btn-flat' %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card py-2 my-3 list-card" data-aos="zoom-in">
            <div class="card-body">
              <h4 class="card-title text-white text-center"><%= list.name %></h4>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
